
.home-container{
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
}

.home-container .bg-body{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: -1;
}

.home-container .bg-body .row-container{
  height: 100%;
}

.home-container .bg-body .row{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(5, 25%);
  position: relative;
  justify-content: center;
}

.home-container .bg-body .row .row-col{
  border-right: 1px solid rgba(199, 199, 199, 0.7);
}