@media screen and (min-width: 780px){
    .section{
        width: 100vw;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
    
    }
    .section .separator{
        width: 115px;
        height: 9px;
        background: var(--bg-color-green);
    }
        .section .section-container{
            display: flex;
            align-items: center;
            flex-direction: column;
            padding: 2rem 2rem 6rem 2rem;
            row-gap: 12px;
        }
        .section .section-container .title-container{
            width: fit-content;
            gap: 1em;
            display: flex;
            align-items: center;
            flex-direction: column;
            margin-top: 3em;
            max-width: 50%;
            text-align: center;
        }
        .section .section-container .title-container .tag{
            font-family: 'Jost';
            font-style: normal;
            font-weight: 400;
            font-size: 1.4em;
            text-align: center;
            text-transform: uppercase;
            color: black;
        }
        .section .section-container .title-container h2{
            text-transform: uppercase;
            font-size: 45px;
        }
}
@media screen and (max-width: 780px) and (min-width: 528px){
    .section{
        width: 100vw;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
    
    }
    .section .separator{
        width: 115px;
        height: 9px;
        background: var(--bg-color-green);
    }
        .section .section-container{
            display: flex;
            align-items: center;
            flex-direction: column;
            padding: 0rem 0rem 6rem 0rem;
            row-gap: 12px;
        }
        .section .section-container .title-container{
            width: fit-content;
            gap: 1em;
            display: flex;
            align-items: center;
            flex-direction: column;
            margin-top: 3em;
            max-width: 50%;
            text-align: center;
        }
        .section .section-container .title-container .tag{
            font-family: 'Jost';
            font-style: normal;
            font-weight: 400;
            font-size: 1.4em;
            text-align: center;
            text-transform: uppercase;
            color: black;
        }
        .section .section-container .title-container h2{
            text-transform: uppercase;
            font-size: 45px;
        }
}
@media screen and (max-width: 528px) and (min-width: 380px){
    .section{
        width: 100vw;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
    
    }
    .section .separator{
        width: 115px;
        height: 9px;
        background: var(--bg-color-green);
    }
        .section .section-container{
            display: flex;
            align-items: center;
            flex-direction: column;
            padding: 1rem 1rem 4rem 1rem;
            row-gap: 12px;
        }
        .section .section-container .title-container{
            width: fit-content;
            gap: 1em;
            display: flex;
            align-items: center;
            flex-direction: column;
            margin-top: 3em;
            max-width: 90%;
            text-align: center;
        }
        .section .section-container .title-container .tag{
            font-family: 'Jost';
            font-style: normal;
            font-weight: 400;
            font-size: 1.4em;
            text-align: center;
            text-transform: uppercase;
            color: black;
        }
        .section .section-container .title-container h2{
            text-transform: uppercase;
            font-size: 45px;
        }
}
@media screen and (max-width: 388px){
    .section{
        width: 100vw;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
    
    }
    .section .separator{
        width: 115px;
        height: 9px;
        background: var(--bg-color-green);
    }
        .section .section-container{
            display: flex;
            align-items: center;
            flex-direction: column;
            padding: 0rem 0rem 4rem 0rem;
            row-gap: 12px;
        }
        .section .section-container .title-container{
            width: fit-content;
            gap: 1em;
            display: flex;
            align-items: center;
            flex-direction: column;
            margin-top: 3em;
            max-width: 90%;
            text-align: center;
        }
        .section .section-container .title-container .tag{
            font-family: 'Jost';
            font-style: normal;
            font-weight: 400;
            font-size: 1.4em;
            text-align: center;
            text-transform: uppercase;
            color: black;
        }
        .section .section-container .title-container h2{
            text-transform: uppercase;
            font-size: 2.4rem;
        }
}