
@media screen and (min-width: 1020px){
    .about_section{
        width: 100vw;
        position: relative;
        display: flex;
        justify-content: center;
        background-color: var(--green-hue-100);
    }
    
    .about_section .about-container{
        height: 100%;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        gap: 1rem;
        padding: 6rem 2rem 6rem 2rem;
    }
    
    .about_section .about-container .signature{
        font-family: 'Jost';
        font-style: normal;
        font-weight: 600;
        font-size: 3em;
        line-height: 40px;
        text-align: center;
        text-transform: uppercase;
        width: -moz-fit-content;
        width: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #FFFFFF;
        gap: 0em;
    }
    .about_section .about-container .signature span{
        font-family: 'Jost';
        font-style: normal;
        font-weight: 600;
        font-size: .5em;
        text-align: center;
        text-transform: uppercase;
    
        color: #FFFFFF;
    }
    .about_section .about-container .text-container{
        display: flex;
        align-items: flex-start;
        column-gap: 20px;
    }
    .about_section .about-container .text-container .box-image-container{
        width: 50%;
        height: 100%;
        position: relative;
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }
    .about_section .about-container .text-container .box-image-container .box-image{
        width: 450px;
        height: 489px;
        background-image: url("../../../images/hero_img_2.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border: 6px solid #FFFFFF;
        border-radius: 308.5px 0px 308.5px 308.5px;
        z-index: 2;
        transition: all 2s ease-in-out;
    }
    .about_section .about-container .text-container .box-image-container .box-image:hover{
        background-size: 200%;
    }
    .about_section .about-container .text-container .box-image-container .under-box-image{
        width: 381.91px;
        height: 373.44px;
        border-radius: 0px 349px;
        background: #F7F7F7;
        transform: rotate(-2.16deg);
        z-index:0;
        position: absolute;
        margin-right: 282px;
    }
    .about_section .about-container .text-container .text{
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 1.7em;
    }
    .about_section .about-container .text-container .text h2{
        text-transform: uppercase;
        color: white;
        font-family: 'Jost';
        font-style: normal;
        font-weight: 600;
        font-size: 45px;
    }
    .about_section .about-container .text-container .text .paragraphe{
        font-family: 'Jost';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 29px;
        letter-spacing: 0.005em;
        color: #F0E5D3;
    }
    .about_section .about-container .text-container .text .btn{
        box-sizing: border-box;
        /* Auto layout */
        padding: 10px 29px;
        width: fit-content;
        border: 2px solid #8D8D8D;
        backdrop-filter: blur(30px);
        border-radius: 24.5px;
        text-decoration: none;
        color: #F0E5D3;
        text-transform: uppercase;
        font-family: 'Jost',sans-serif;
        font-weight: 600;
        transition: all .3s ease-in-out;
    }
    .about_section .about-container .text-container .text .btn:hover{
        box-sizing: border-box;
        /* Auto layout */
        padding: 10px 29px;
        width: fit-content;
        border: 2px solid white;
        border-radius: 24.5px;
        text-decoration: none;
        color: white;
        background-color: #DAA379;
    }
    
    .btn-hide{
        display: none;
    }
}
@media screen and (max-width: 1020px) and (min-width: 720px){
    .about_section{
        width: 100vw;
        position: relative;
        display: flex;
        justify-content: center;
        background-color: var(--green-hue-100);
    }
    
    .about_section .about-container{
        height: 100%;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        gap: 1rem;
        padding: 6rem 2rem 6rem 2rem;
    }
    
    .about_section .about-container .signature{
        font-family: 'Jost';
        font-style: normal;
        font-weight: 600;
        font-size: 3em;
        line-height: 40px;
        text-align: center;
        text-transform: uppercase;
        width: -moz-fit-content;
        width: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #FFFFFF;
        gap: 0em;
    }
    .about_section .about-container .signature span{
        font-family: 'Jost';
        font-style: normal;
        font-weight: 600;
        font-size: .5em;
        text-align: center;
        text-transform: uppercase;
    
        color: #FFFFFF;
    }
    .about_section .about-container .text-container{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        column-gap: 20px;
    }
    .about_section .about-container .text-container .box-image-container{
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }
    .about_section .about-container .text-container .box-image-container .box-image{
        width: 450px;
        height: 489px;
        background-image: url("../../../images/hero_img_2.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border: 6px solid #FFFFFF;
        border-radius: 308.5px 0px 308.5px 308.5px;
        z-index: 2;
        transition: all 2s ease-in-out;
    }
    .about_section .about-container .text-container .box-image-container .box-image:hover{
        background-size: 200%;
    }
    .about_section .about-container .text-container .box-image-container .under-box-image{
        width: 381.91px;
        height: 373.44px;
        border-radius: 0px 349px;
        background: #F7F7F7;
        transform: rotate(-2.16deg);
        z-index:0;
        position: absolute;
        margin-right: 282px;
    }
    .about_section .about-container .text-container .text{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1.7em;
    }
    .about_section .about-container .text-container .text h2{
        text-transform: uppercase;
        color: white;
        font-family: 'Jost';
        font-style: normal;
        font-weight: 600;
        font-size: 45px;
    }
    .about_section .about-container .text-container .text .paragraphe{
        font-family: 'Jost';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 29px;
        letter-spacing: 0.005em;
        color: #F0E5D3;
    }
    .about_section .about-container .text-container .text .btn{
        box-sizing: border-box;
        /* Auto layout */
        padding: 10px 29px;
        width: fit-content;
        border: 2px solid #8D8D8D;
        backdrop-filter: blur(30px);
        border-radius: 24.5px;
        text-decoration: none;
        color: #F0E5D3;
        text-transform: uppercase;
        font-family: 'Jost',sans-serif;
        font-weight: 600;
        transition: all .3s ease-in-out;
    }
    .about_section .about-container .text-container .text .btn:hover{
        box-sizing: border-box;
        /* Auto layout */
        padding: 10px 29px;
        width: fit-content;
        border: 2px solid white;
        border-radius: 24.5px;
        text-decoration: none;
        color: white;
        background-color: #DAA379;
    }
    
    .btn-hide{
        display: none;
    }
}
@media screen and (max-width: 720px) and (min-width: 520px){
    .about_section{
        width: 100vw;
        position: relative;
        display: flex;
        justify-content: center;
        background-color: var(--green-hue-100);
    }
    
    .about_section .about-container{
        height: 100%;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        gap: 1rem;
        padding: 6rem 2rem 6rem 2rem;
    }
    
    .about_section .about-container .signature{
        font-family: 'Jost';
        font-style: normal;
        font-weight: 600;
        font-size: 3em;
        line-height: 40px;
        text-align: center;
        text-transform: uppercase;
        width: -moz-fit-content;
        width: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #FFFFFF;
        gap: 0em;
    }
    .about_section .about-container .signature span{
        font-family: 'Jost';
        font-style: normal;
        font-weight: 600;
        font-size: .5em;
        text-align: center;
        text-transform: uppercase;
    
        color: #FFFFFF;
    }
    .about_section .about-container .text-container{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        row-gap: 20px;
    }
    .about_section .about-container .text-container .box-image-container{
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }
    .about_section .about-container .text-container .box-image-container .box-image{
        width: 325px;
        height: 363px;
        margin-left: 50px;
        background-image: url("../../../images/hero_img_2.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border: 6px solid #FFFFFF;
        border-radius: 308.5px 0px 308.5px 308.5px;
        z-index: 2;
        transition: all 2s ease-in-out;
    }
    .about_section .about-container .text-container .box-image-container .box-image:hover{
        background-size: 200%;
    }
    .about_section .about-container .text-container .box-image-container .under-box-image{
        width: 299.91px;
        height: 309.44px;
        border-radius: 0px 349px;
        background: #F7F7F7;
        transform: rotate(-2.16deg);
        z-index: 0;
        position: absolute;
        margin-right: 223px;
    }
    .about_section .about-container .text-container .text{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1.7em;
    }
    .about_section .about-container .text-container .text h2{
        text-transform: uppercase;
        color: white;
        font-family: 'Jost';
        font-style: normal;
        font-weight: 600;
        font-size: 45px;
    }
    .about_section .about-container .text-container .text .paragraphe{
        font-family: 'Jost';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 29px;
        letter-spacing: 0.005em;
        color: #F0E5D3;
    }
    .about_section .about-container .text-container .text .btn{
        box-sizing: border-box;
        /* Auto layout */
        padding: 10px 29px;
        width: fit-content;
        border: 2px solid #8D8D8D;
        backdrop-filter: blur(30px);
        border-radius: 24.5px;
        text-decoration: none;
        color: #F0E5D3;
        text-transform: uppercase;
        font-family: 'Jost',sans-serif;
        font-weight: 600;
        transition: all .3s ease-in-out;
    }
    .about_section .about-container .text-container .text .btn:hover{
        box-sizing: border-box;
        /* Auto layout */
        padding: 10px 29px;
        width: fit-content;
        border: 2px solid white;
        border-radius: 24.5px;
        text-decoration: none;
        color: white;
        background-color: #DAA379;
    }
    
    .btn-hide{
        display: none;
    }
}
@media screen and (max-width: 520px) and (min-width: 380px){
    .about_section{
        width: 100vw;
        position: relative;
        display: flex;
        justify-content: center;
        background-color: var(--green-hue-100);
    }
    
    .about_section .about-container{
        height: 100%;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        gap: 1rem;
        padding: 6rem 0rem 6rem 0rem;
    }
    
    .about_section .about-container .signature{
        font-family: 'Jost';
        font-style: normal;
        font-weight: 600;
        font-size: 3em;
        line-height: 40px;
        text-align: center;
        text-transform: uppercase;
        width: -moz-fit-content;
        width: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #FFFFFF;
        gap: 0em;
    }
    .about_section .about-container .signature span{
        font-family: 'Jost';
        font-style: normal;
        font-weight: 600;
        font-size: .5em;
        text-align: center;
        text-transform: uppercase;
    
        color: #FFFFFF;
    }
    .about_section .about-container .text-container{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        row-gap: 20px;
    }
    .about_section .about-container .text-container .box-image-container{
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        align-items: flex-end;
    }
    .about_section .about-container .text-container .box-image-container .box-image{
        width: 279px;
        height: 302px;
        margin-left: 50px;
        background-image: url("../../../images/hero_img_2.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border: 6px solid #FFFFFF;
        border-radius: 308.5px 0px 308.5px 308.5px;
        z-index: 2;
        transition: all 2s ease-in-out;
    }
    .about_section .about-container .text-container .box-image-container .box-image:hover{
        background-size: 200%;
    }
    .about_section .about-container .text-container .box-image-container .under-box-image{
        width: 193.91000000000003px;
        height: 255.44px;
        border-radius: 0px 349px;
        background: #F7F7F7;
        transform: rotate(-2.16deg);
        z-index: 0;
        position: absolute;
        margin-right: 223px;
    }
    .about_section .about-container .text-container .text{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1.7em;
    }
    .about_section .about-container .text-container .text h2{
        text-transform: uppercase;
        color: white;
        font-family: 'Jost';
        font-style: normal;
        font-weight: 600;
        font-size: 45px;
    }
    .about_section .about-container .text-container .text .paragraphe{
        font-family: 'Jost';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 29px;
        letter-spacing: 0.005em;
        color: #F0E5D3;
    }
    .about_section .about-container .text-container .text .btn{
        box-sizing: border-box;
        /* Auto layout */
        padding: 10px 29px;
        width: fit-content;
        border: 2px solid #8D8D8D;
        backdrop-filter: blur(30px);
        border-radius: 24.5px;
        text-decoration: none;
        color: #F0E5D3;
        text-transform: uppercase;
        font-family: 'Jost',sans-serif;
        font-weight: 600;
        transition: all .3s ease-in-out;
    }
    .about_section .about-container .text-container .text .btn:hover{
        box-sizing: border-box;
        /* Auto layout */
        padding: 10px 29px;
        width: fit-content;
        border: 2px solid white;
        border-radius: 24.5px;
        text-decoration: none;
        color: white;
        background-color: #DAA379;
    }
    
    .btn-hide{
        display: none;
    }
}
@media screen and (max-width: 380px){
    .about_section{
        width: 100vw;
        position: relative;
        display: flex;
        justify-content: center;
        background-color: var(--green-hue-100);
    }
    
    .about_section .about-container{
        height: 100%;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        gap: 1rem;
        padding: 6rem 0rem 6rem 0rem;
    }
    
    .about_section .about-container .signature{
        font-family: 'Jost';
        font-style: normal;
        font-weight: 600;
        font-size: 3em;
        line-height: 40px;
        text-align: center;
        text-transform: uppercase;
        width: -moz-fit-content;
        width: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #FFFFFF;
        gap: 0em;
    }
    .about_section .about-container .signature span{
        font-family: 'Jost';
        font-style: normal;
        font-weight: 600;
        font-size: .5em;
        text-align: center;
        text-transform: uppercase;
    
        color: #FFFFFF;
    }
    .about_section .about-container .text-container{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        row-gap: 20px;
    }
    .about_section .about-container .text-container .box-image-container{
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        align-items: flex-end;
    }
    .about_section .about-container .text-container .box-image-container .box-image{
        width: 108%;
        height: 298px;
        margin-left: 50px;
        background-image: url("../../../images/hero_img_2.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border: 6px solid #FFFFFF;
        border-radius: 308.5px 0px 308.5px 308.5px;
        z-index: 2;
        transition: all 2s ease-in-out;
    }
    .about_section .about-container .text-container .box-image-container .box-image:hover{
        background-size: 200%;
    }
    .about_section .about-container .text-container .box-image-container .under-box-image{
        width: 193.91000000000003px;
        height: 255.44px;
        border-radius: 0px 349px;
        background: #F7F7F7;
        transform: rotate(-2.16deg);
        z-index: 0;
        position: absolute;
        margin-right: 223px;
    }
    .about_section .about-container .text-container .text{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1.7em;
    }
    .about_section .about-container .text-container .text h2{
        text-transform: uppercase;
        color: white;
        font-family: 'Jost';
        font-style: normal;
        font-weight: 600;
        font-size: 2.4rem;
    }
    .about_section .about-container .text-container .text .paragraphe{
        font-family: 'Jost';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 29px;
        letter-spacing: 0.005em;
        color: #F0E5D3;
    }
    .about_section .about-container .text-container .text .btn{
        box-sizing: border-box;
        /* Auto layout */
        padding: 10px 29px;
        width: fit-content;
        border: 2px solid #8D8D8D;
        backdrop-filter: blur(30px);
        border-radius: 24.5px;
        text-decoration: none;
        color: #F0E5D3;
        text-transform: uppercase;
        font-family: 'Jost',sans-serif;
        font-weight: 600;
        transition: all .3s ease-in-out;
    }
    .about_section .about-container .text-container .text .btn:hover{
        box-sizing: border-box;
        /* Auto layout */
        padding: 10px 29px;
        width: fit-content;
        border: 2px solid white;
        border-radius: 24.5px;
        text-decoration: none;
        color: white;
        background-color: #DAA379;
    }
    
    .btn-hide{
        display: none;
    }
}
